:root {
	--color-accent-light: {{ colors.green[400] }};
	--color-accent: {{ colors.green[600] }};
	--color-accent-dark: {{ colors.green[800] }};

	--color-black: {{ colors.gray[900] }};
	--color-gray: {{ colors.gray[400] }};
	--color-light-gray: {{ colors.gray[300] }};
	--color-white: white;

	--color-background: var( --color-white );
	--color-shadow: var( --color-light-gray );
	--border-color: var( --color-gray );

	--measure: 70ch;

	--font-family-mono: Menlo, monospace;
	--font-family-serif: Georgia, 'Times New Roman', Times, serif;
	--font-family-sans: -apple-system, BlinkMacSystemFont, segoe ui, arial, sans-serif;

	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-heavy: 900;

	--line-height-none: 1;
	--line-height-tight: 1.25;
	--line-height-snug: 1.375;
	--line-height: 1.5;

	--ratio: 1.5;
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));

	font-size: 1rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	line-height: var( --line-height );
}

html,
body,
div,
header,
nav,
main,
footer {
	max-width: none;
}

body {
	color: var( --color-black );
	padding: 0 var( --s3 );
	background-color: var( --color-background );
	font-family: var( --font-family-serif );
}

a {
	color: var( --color-accent );
}

{% include "styles/layout.css" %}
{% include "styles/utilities.css" %}
{% include "styles/header.css" %}

.page-wrapper {
	border: solid var( --border-color ) 1px;
	margin: var( --s3 ) auto;
	padding: var( --s2 );
	box-shadow: 0 var( --s-3 ) var( --s1 ) var( --color-shadow );
}
