.header {
	border-top: solid var( --color-black ) var( --s-2 );
	border-bottom: solid var( --border-color ) 1px;
	text-align: right;
}
.header-contents {
	display: grid;
	grid-template-columns: 1fr;
}
.site-title {
	font-family: var( --font-family-sans );
	font-size: var( --s1 );
	font-weight: var( --font-weight-extrabold );
}
.site-title, .site-title * {
	line-height: var( --line-height-none );
}
