:root {
	--grid-gap: 2.0rem;
	--section-padding: 1.0rem;
	--max-width: 56rem;
}

.page-wrapper {
	max-width: var( --max-width );
	margin: 0 auto;
}

.row {
	display: grid;
	grid-column-gap: calc( var( --grid-gap ) + 0.5vmax );
	grid-row-gap: calc( var( --grid-gap ) + 0.5vmax );
}

.row-block {
	padding: calc( var( --section-padding ) + 1.0 * 1.5vmax ) 0;
}

.row-block > * + * {
	margin-top: 1.0rem;
}

.stack > *:not(.hidden) + * {
	margin-top: var( --section-padding );
}

.columns {
	display: grid;
	grid-column-gap: var( --grid-gap );
}
