.background\:black {
	background-color: var( --color-black );
}
.background\:light-gray {
	background-color: var( --color-light-gray );
}

.border\:light {
	border: solid var( --border-color ) 1px;
}
.border-top\:light {
	border-top: solid var( --border-color ) 1px;
}
.border-bottom\:light {
	border-bottom: solid var( --border-color ) 1px;
}
.border-left\:light {
	border-left: solid var( --border-color ) 1px;
}

.color\:inherit {
	color: inherit;
}
.color\:accent {
	color: var( --color-accent );
}
.color\:accent-light {
	color: var( --color-accent-light );
}
.color\:white {
	color: var( --color-white );
}

.font-family\:mono {
	font-family: var( --font-family-mono );
}
.font-family\:sans {
	font-family: var( --font-family-sans );
}
.font-family\:serif {
	font-family: var( --font-family-serif );
}

.font-size\:-1 {
	font-size: var( --s-1 );
}
.font-size\:0 {
	font-size: var( --s0 );
}
.font-size\:1 {
	font-size: var( --s1 );
}

.font-style\:italic {
	font-style: italic;
}

.font-variant-numeric\:tabular-nums {
	font-variant-numeric: tabular-nums;
}

.hidden {
	display: none;
}

.line-height\:none {
	line-height: 1;
}

.margin-top\:0 {
	margin-top: var( --s0 );
}
.margin-top\:1 {
	margin-top: var( --s1 );
}
.margin-bottom\:1 {
	margin-bottom: var( --s1 );
}

.padding-bottom\:0 {
	padding-bottom: var( --s0 );
}
.padding-bottom\:1 {
	padding-bottom: var( --s1 );
}
.padding-top\:1 {
	padding-top: var( --s1 );
}
.padding-top\:2 {
	padding-top: var( --s2 );
}
.padding-top\:3 {
	padding-top: var( --s3 );
}
.padding-h\:0 {
	padding-left: var( --s0 );
	padding-right: var( --s0 );
}
.padding-h\:1 {
	padding-left: var( --s1 );
	padding-right: var( --s1 );
}
.padding-v\:0 {
	padding-top: var( --s0 );
	padding-bottom: var( --s0 );
}
.padding-v\:1 {
	padding-top: var( --s1 );
	padding-bottom: var( --s1 );
}

.overflow-x\:scroll {
	overflow-x: scroll;
}

.text-decoration\:none {
	text-decoration: none;
}

.text-transform\:uppercase {
	text-transform: uppercase;
}
