<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% set pageTitle -%}
	{%- if title %}{{ title }} • {{ site.title }}{% else %}{{ site.emoji.character }} {{ site.title }} • {{ site.subtitle }}{% endif -%}
	{%- endset %}
	<title>{{ pageTitle | safe }}</title>

	{#- include metatags -#}

	<style>
		{%- set style %}
			{%- include "styles/global.css" -%}
			{{ internal_style | safe }}
		{% endset -%}
		{{- style | cssmin | safe -}}
	</style>
</head>
<body>
	<div class="page-wrapper">
		<header class="header">
			<div class="header-contents">
				<div class="padding-top:1 padding-bottom:0">
					<h1 class="site-title"><a href="/" class="color:inherit text-decoration:none"> {% emoji site.emoji.character, site.emoji.label %} {{ site.title }}</a></h1>
					<p class="font-size:0">{{ site.subtitle }}</p>
				</div>
			</div>
		</header>

		{% block content -%}
			<main>
				{{- content -}}
			</main>
		{%- endblock %}

		{% if footer -%}
		<footer class="footer">
			{{- footer | safe -}}
		</footer>
		{%- endif %}
	</div>

	{%- if internal_script -%}
	<script>
		{{- internal_script | babel | safe -}}
	</script>
	{%- endif %}
</body>
</html>
