{% extends "layouts/base.njk" %}

{% set internal_style -%}
{{ internal_style | safe }}
.page-title {
	font-size: var( --s4 );
	font-weight: var( --font-weight-normal );
	line-height: var( --line-height-none );
	letter-spacing: calc( -1ch / 20 );
	max-width: 15ch;
}
.page-subtitle {
	font-family: var( --font-family-sans );
	font-size: var( --s1 );
	font-weight: var( --font-weight-light );
	line-height: var( --line-height-none );
}
.page-contents {
	display: grid;
	grid-template-columns: minmax( auto, calc( var( --max-width ) * 0.60 ) ) 1fr;
}
.projects-links {
	padding-left: var( --section-padding );
}
.projects-links > * + * {
	margin-top: var( --s-3 );
}
{% endset %}

{%- block content -%}
<main>
	{% if day %}
	<div class="padding-h:1 padding-v:1 border-bottom:light">
		<p class="color:accent font-family:sans font-size:1 text-transform:uppercase">Day {{ day }}</p>
		<h2 class="page-title">{{ title }}</h2>
	</div>
	{% endif %}

	<div class="page-contents">
		<div>
			{{- content | safe -}}
		</div>
		<div class="border-left:light padding-h:1 padding-v:1">
			<h3 class="font-family:sans font-size:0 font-weight:extrabold text-transform:uppercase">Projects</h3>
			<ul class="projects-links">
				{% for project in collections.projects %}
					<li><a href="{{ project.url }}">{{ project.data.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</main>
{%- endblock -%}
