{% extends "layouts/page.njk" %}

{% set internal_style -%}
{{ internal_style | safe }}
label {
	display: block;
	margin-bottom: var( --s-4 );
	font-size: var( --s0 );
}
input[type="text"], input[type="password"], textarea {
	width: 100%;
	padding: var( --s-3 ) var( --s-2 );
	border: solid var( --color-black ) 1px;
	font-family: var( --font-family-sans );
	font-size: var( --s0 );
}
input[type="button"], button {
	padding: var( --s-2 ) var( --s0 );
	background-color: var( --color-accent );
	border: none;
	color: var( --color-white );
	font-size: var( --s0 );
}
input[type="button"]:hover, button:hover {
	cursor: pointer;
	background-color: var( --color-accent-dark );
}
{%- endset -%}

{%- set content -%}
<div class="padding-h:1 padding-v:1 border-bottom:light">
	<h3 class="font-family:sans font-size:0 font-weight:extrabold text-transform:uppercase">Goal</h3>
	<p class="font-style:italic">{{ summary }}</p>
</div>
<div class="padding-h:1 padding-v:1 border-bottom:light">
	<h3 class="font-family:sans font-size:0 font-weight:extrabold text-transform:uppercase">Project</h3>
	<div class="border:light margin-top:0 padding-h:1 padding-v:1">
		{{- content | safe -}}
	</div>
</div>
{% if notes %}
<div class="padding-h:1 padding-v:1 border-bottom:light">
	<h3 class="font-family:sans font-size:0 font-weight:extrabold text-transform:uppercase">Notes</h3>
	{{ notes }}
</div>
{% endif %}
<details class="padding-h:1 padding-v:1">
	<summary>View Source</summary>
	<pre class="margin-top:0 background:black color:accent-light padding-h:1 font-family:mono padding-v:1 overflow-x:scroll">
	{{- internal_script -}}
	</pre>
</details>
{%- endset -%}
