---
day: 1
title: Toggle Password Visibility
summary: "Write a script that lets users toggle the visibility of a password field."
---
{% extends "layouts/project.njk" %}

{% set content %}
<form class="stack">
	<div>
		<label for="username">Username</label>
		<input type="text" name="username" id="username" value="ashur">
	</div>

	<div>
		<label for="password">Password</label>
		<input type="password" name="password" id="password" value="accusal-withers-walkout-newton-macao">
	</div>

	<div>
		<label for="show-password">
			<input type="checkbox" name="show-passwords" id="show-password">
			Show password
		</label>
	</div>

	<p>
		<button type="submit">Log In</button>
	</p>
</form>
{% endset %}

{% set internal_script %}
(function() {
	let elPassword = document.querySelector( "#password" );
	let elShowPassword = document.querySelector( "#show-password" );
	elShowPassword.addEventListener( "input", e =>
	{
		let inputType = e.target.checked ? "text" : "password";
		elPassword.setAttribute( "type", inputType );
	});
})();
{% endset %}
