---
day: 3
title: Toggle Multiple Password Fields
summary: Modify the previous script, adding the ability to toggle the visibility of multiple fields.
---
{% extends "layouts/project.njk" %}

{% set content %}
<form class="stack">
	<div>
		<label for="current-password">Current Password</label>
		<input type="password" name="current-password" id="current-password" value="accusal-withers-walkout-newton-macao">
	</div>

	<div>
		<label for="new-password">New Password</label>
		<input type="password" name="new-password" id="new-password" value="letup-chance-recourse-unship-bandit">
	</div>

	<div>
		<label for="show-passwords">
			<input type="checkbox" name="show-passwords" id="show-passwords">
			Show passwords
		</label>
	</div>

	<p>
		<button>Change Passwords</button>
	</p>
</form>
{% endset %}

{% set internal_script %}
(function() {
	let elPasswords = document.querySelectorAll( "input[type='password']" );
	let elShowPasswords = document.querySelector( "#show-passwords" );
	elShowPasswords.addEventListener( "input", e =>
	{
		let inputType = e.target.checked ? "text" : "password";
		elPasswords.forEach( elPassword => elPassword.setAttribute( "type", inputType ) );
	});
})();
{% endset %}
