---
day: 5
title: Toggle Passwords in Multiple Forms
summary: Modify the previous script to support multiple forms, ensuring each checkbox only toggles fields in its own form.
---
{% extends "layouts/project.njk" %}

{% set content %}
<div>
	<h3>Change Username</h3>
	<p>Enter your username and password to change your username.</p>
</div>

<form class="stack padding-v:1 border-bottom:light">
	<div>
		<label for="username">Username</label>
		<input type="text" name="username" id="username" value="ashur">
	</div>

	<div>
		<label for="password">Password</label>
		<input type="password" name="password" id="password" value="accusal-withers-walkout-newton-macao">
	</div>

	<div>
		<label for="show-password">
			<input type="checkbox" name="show-passwords" id="show-password">
			Show password
		</label>
	</div>

	<p>
		<button type="submit">Change Username</button>
	</p>
</form>

<div class="padding-v:1">
	<h3>Change Password</h3>
	<p>Enter your current password and new password below.</p>
</div>

<form class="stack">
	<div>
		<label for="current-password">Current Password</label>
		<input type="password" name="current-password" id="current-password" value="accusal-withers-walkout-newton-macao">
	</div>

	<div>
		<label for="new-password">New Password</label>
		<input type="password" name="new-password" id="new-password" value="letup-chance-recourse-unship-bandit">
	</div>

	<div>
		<label for="show-passwords">
			<input type="checkbox" name="show-passwords" id="show-passwords">
			Show passwords
		</label>
	</div>

	<p>
		<button type="submit">Change Passwords</button>
	</p>
</form>
{% endset %}

{% set internal_script %}
(function() {
	let elPassword = document.querySelector( "#password" );
	let elPasswords = document.querySelectorAll( "#current-password, #new-password" );

	document.addEventListener( "input", e =>
	{
		if( e.target.id === "show-password" )
		{
			let inputType = e.target.checked ? "text" : "password";
			elPassword.setAttribute( "type", inputType );
		}
		if( e.target.id === "show-passwords" )
		{
			let inputType = e.target.checked ? "text" : "password";
			elPasswords.forEach( elPassword => elPassword.setAttribute( "type", inputType ) );
		}
	});
})();
{% endset %}
