---
day: 7
title: Character Count
summary: Update UI to display a live character count.
---
{% extends "layouts/project.njk" %}

{% set content %}
<div class="stack">
	<div>
		<label for="text">Enter your text below.</label>
		<textarea id="text"></textarea>
	</div>

	<p class="font-family:sans">You&rsquo;ve written <strong><span class="font-variant-numeric:tabular-nums" id="character-count">0</span> characters</strong>.</p>
</div>
{% endset %}

{% set internal_script %}
(function() {
	let elText = document.querySelector( "#text" );
	let elCount = document.querySelector( "#character-count" );
	elText.addEventListener( "input", e =>
	{
		elCount.innerText = e.target.value.length;
	});
})();
{% endset %}
