---
day: 9
title: Character and Word Count
summary: Modify the previous script to also display a live word count.
---
{% extends "layouts/project.njk" %}

{% set content %}
<div class="stack">
	<div>
		<label for="text">Enter your text below.</label>
		<textarea id="text"></textarea>
	</div>

	<p class="font-family:sans">You&rsquo;ve written <strong><span id="word-count">0</span> words</strong> and <strong><span class="font-variant-numeric:tabular-nums" id="character-count">0</span> characters</strong>.</p>
</div>
{% endset %}

{% set internal_script %}
(function() {
	let elText = document.querySelector( "#text" );
	let elCharacterCount = document.querySelector( "#character-count" );
	let elWordCount = document.querySelector( "#word-count" );
	elText.addEventListener( "input", e =>
	{
		elCharacterCount.innerText = e.target.value.length;
		elWordCount.innerText = e.target.value.trim()
			.split( /\s+/g )
			.length;
	});
})();
{% endset %}
