---
day: 11
title: Announcing the Count
summary: Modify the previous script to announce the current count to screen reader users as it changes.
---
{% extends "layouts/project.njk" %}

{% set content %}
<div class="stack">
	<div>
		<label for="text">Enter your text below.</label>
		<textarea id="text"></textarea>
	</div>

	<p class="font-family:sans" aria-live="assertive" id="status">You&rsquo;ve written <strong>0 words</strong> and <strong>0 characters</strong>.</p>
</div>
{% endset %}

{% set internal_script %}
(function() {
	let elText = document.querySelector( "#text" );
	let elStatus = document.querySelector( "#status" );
	elText.addEventListener( "input", e =>
	{
		let charCount = e.target.value.length;
		let wordCount = e.target.value.trim()
			.split( /\s+/g )
			.length;

		elStatus.innerHTML = `You&rsquo;ve written <strong>${wordCount} words</strong> and <strong>${charCount} characters</strong>.`;
	});
})();
{% endset %}
