---
day: 13
title: Random Ron
summary: Display random quotes using the Ron Swanson Quotes API.
---
{% extends "layouts/project.njk" %}

{% set content %}
<div class="stack">
	{% include "components/error.njk" %}

	<blockquote class="border:light-gray font-size:1" aria-live="assertive"></blockquote>

	<p>
		<button>More Ron</button>
	</p>
</div>
{% endset %}

{% set internal_script %}
(function() {
	let apiURL = "//ron-swanson-quotes.herokuapp.com/v2/quotes";
	let elError = document.querySelector( "#error-message" );

	let displayError = message =>
	{
		elError.innerText = message;
		elError.classList.remove( "hidden" );
	};

	let fetchQuote = () =>
	{
		return fetch( apiURL )
			.then( response => response.json() )
			.then( json =>
			{
				if( json[0] )
				{
					elError.classList.add( "hidden" );
					return json[0];
				}

				throw new Error( "The server returned an unexpected response." );
			})
			.catch( error =>
			{
				displayError( error.message );
			});
	}

	let renderQuote = quote =>
	{
		if( quote )
		{
			document.querySelector( "blockquote" ).innerHTML = `&ldquo;${quote}&rdquo;`;
		}
	};

	let getQuote = () =>
	{
		fetchQuote()
			.then( quote => renderQuote( quote ) )
			.catch( error => console.error( error ) );
	}

	getQuote();
	document.querySelector( "button" ).addEventListener( "click", getQuote );
})();
{% endset %}
